body {
  margin: 0;
  background-color: white;
}

label{
  font-family: sans-serif;
}

#alarm-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
}

#alarm-title{
  font-size: 3rem;
  text-align: center;
}

#alarm-button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 2rem;
}

.alarm-button{
  display: flex;
  border-radius: 0.5rem;
  background-color: cadetblue;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0.2rem 1rem;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.alarm-button-title{
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

#sensors-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.sensor-card{
  display: flex;
  border-radius: 0.5rem;
  background-color: rgb(95, 158, 160, 0.2);
  padding: 1rem;
  box-sizing: border-box;
  margin: 1rem;
  flex-direction: row;
  align-items: flex-start;
}

.sensor-data-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5rem;
}

.sensor-data{
  color: black;
  font-size: 1rem;
}

.sensor-button{
  display: flex;
  background-color: cadetblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0.5rem 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.sensor-button-label{
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.sensor-led{
  display: flex;
  height: 4rem;
  width: 4rem;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.sensor-led-label{
  color: white;
  font-size: 0.8rem;
}